<div class="content-container">
    <div class="content">
        <h2>{{'THANKSDONATION' | translate}}</h2>
        <div class="about osem-padding-small">
            <div>
                <p [innerHtml]="'THANKSDONATION_TEXT' | translate"></p>
            </div>
        </div>

        <div class="osem-padding-small">
            <div class="content">
                <div>
                    <h3>{{'SPECIALTHANKS' | translate}}</h3>
                    <div class="images">
                        <div class="image">
                            <img src="/assets/img/logos/Stiftungen-SPK-MSLO.jpg">
                        </div>
                        <ul class="donor-list">
                            <li>Sparkassenstiftungen Münsterland Ost</li>
                            <li>Jörg Richter</li>
                            <li>Alexander Zach</li>
                            <li>Dr. Mark Sakschewski</li>
                            <li>Andrej Shadura</li>
                            <li>Robert Welling</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>