<osem-base-map></osem-base-map>

<!-- <div  id="removeBoxes" (click)="removeAllOtherBoxes()">
    REMOVE OTHER BOXES
</div> -->


<div style="position: absolute; display: none" id="osem-popup">
    <osem-popup-container></osem-popup-container>
</div>


<div id="loading" *ngIf="(loading$ | async) || !(mapInit$ | async) || (loadingSensor$ | async)">
    <div class="loading">
        <i class="fa fa-2x fa-spinner fa-spin"></i> 
        <div class="text">
            LOADING...
        </div>
    </div>
</div>