:host {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

#removeBoxes {
    position: absolute;
    z-index:10;
    top: 100px;
    right: 0;
    background: #ccc;
}


#loading {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;
    color: white;

    .text {
        padding-top: 1em;
    }

    .loading {
        display: inline-block;
        text-align: center;
    }
}

#mapLoading {
    top: 50px;
    right: 50px;
    position: absolute;
    z-index: 2;

}