<p class="title is-3">{{'CHANGE_PASSWORD' | translate}}</p>


<form [formGroup]="changePasswordForm">
    <div class="field">
        <label class="label">{{'CURRENT_PASSWORD' | translate}}</label>
        <div class="control">
            <input 
              [formControl]="changePasswordForm.controls.currentPassword"
              type="password"
              class="input" 
              id="auth-field"
              placeholder="{{'CURRENT_PASSWORD' | translate}}">
        </div>
    </div>
    <div class="field">
        <label class="label">{{'NEW_PASSWORD' | translate}}</label>
        <div class="control">
            <input 
              [formControl]="changePasswordForm.controls.newPassword"
              type="password"
              class="input" 
              id="auth-field"
              placeholder="{{'NEW_PASSWORD' | translate}}">
        </div>
    </div>
    <div class="field">
        <label class="label">{{'CONFIRM_NEW_PASSWORD' | translate}}</label>
        <div class="control">
            <input 
              [formControl]="changePasswordForm.controls.newPasswordConfirmed"
              type="password"
              class="input" 
              id="auth-field"
              placeholder="{{'CONFIRM_NEW_PASSWORD' | translate}}">
        </div>
    </div>
</form>


<button
    class="button is-primary is-pulled-right"
    (click)="changePassword()"
    [disabled]="!changePasswordForm.valid">
    {{'CHANGE_PASSWORD' | translate}}
</button>
