.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

//line spacing
.small {
  line-height: 20px;
}
.big {
  line-height: 300px;
}
