<div class="impressum-header osem-padding-small">
    <h2>{{'IMPRESSUM' | translate}}</h2>
    <div class="osem-close-text" [routerLink]="['']">X</div>
</div>

<div class="impressum-content osem-padding-small">
    <div class="content">
        <div>
            <h3>{{'RESPONSIBLE' | translate}}</h3>
            <ul>
                <li>Umut Tas</li>
                <li>Von-Steuben-Str. 21</li>
                <li>48143 Münster</li>
            </ul>
        </div>
        
        <div>
            <h3>{{'SPONSORED_BY' | translate}}</h3>
            <div class="images">
                <div class="image">
                    <img src="/assets/img/logos/prototypefund.png">   
                </div>
                <div class="image">
                    <img src="/assets/img/logos/bmbf.jpg">   
                </div>
            </div>
        </div>
        
        <div>
            <h3>{{'THANKS_TO' | translate}}</h3>  
        </div>
    </div>
</div>