<div class="content-container">
    <div class="content">
        <h2>{{'IMPRESSUM' | translate}}</h2>
        <div class="about osem-padding-small">
            <div>
                <h3>{{'ABOUT' | translate}}</h3>
                <p [innerHtml]="'ABOUT_TEXT' | translate"></p>
            </div>
        </div>
        
        <div class="osem-padding-small">
            <div class="resp">
                <h3>{{'RESPONSIBLE' | translate}}</h3>
                <ul>
                    <li>Umut Tas</li>
                    <li>Von-Steuben-Str. 21</li>
                    <li>48143 Münster</li>
                </ul>
            </div>
        </div>
        
        <div class="osem-padding-small">
            <div class="content">
                <div>
                    <h3>{{'SPONSORED_BY' | translate}}</h3>
                    <div class="images">
                        <div class="image">
                            <img src="/assets/img/logos/prototypefund.png">
                        </div>
                        <div class="image">
                            <img src="/assets/img/logos/bmbf.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>