<h2 class="title">{{'LOGIN' | translate}}</h2>

<p class="py-2">
    {{'LOGIN_WITH_YOUR_OPENSENSEMAP_ACCOUNT' | translate}}
    <a [routerLink]="['/',{ outlets: { sidebar: ['register'] } }]" queryParamsHandling="merge">{{'REGISTER_HERE' | translate}}</a>
</p>

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
        <p class="control has-icons-left">
            <input formControlName="email" class="input" type="email" placeholder="Email">
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
            <!-- <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
            </span> -->
        </p>
        <osem-control-message [control]="loginForm.controls.email"></osem-control-message>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input formControlName="password" class="input" type="password" placeholder="{{'PASSWORD' | translate}}">
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
        </p>
        <osem-control-message [control]="loginForm.controls.password"></osem-control-message>
        <a class="is-small is-pulled-right" 
            [routerLink]="['/',{ outlets: { sidebar: ['resetpassword'] } }]"
            queryParamsHandling="merge">
            {{'FORGOT_PASSWORD' | translate}}
        </a>
    </div>
    <div class="field">
        <p class="control">
            <button 
                [disabled]="!this.loginForm.valid"
                class="button is-success" 
                type="submit">
                {{'LOGIN' | translate}}
            </button>
        </p>
    </div>
</form>