<!-- <div (click)="navTo('boxes')" >TEST</div> -->
<!-- <li><a [routerLink]="['boxes']" queryParamsHandling="merge">{{'MY_BOXES' | translate}}</a></li> -->

<aside class="menu">
  <p class="menu-label">
    {{'PROFILE' | translate}}
  </p>
  <ul class="menu-list">
    <li><a [routerLink]="['boxes']" queryParamsHandling="merge">{{'MY_BOXES' | translate}}</a></li>
    <li><a [routerLink]="['newbox']" queryParamsHandling="merge">{{'ADD_BOX' | translate}}</a></li>
    <li><a [routerLink]="['vis']" queryParamsHandling="merge">{{'MY_VIS' | translate}}</a></li>
  </ul>
  <p class="menu-label">
    {{'ADMINISTRATION' | translate}}
  </p>
  <ng-container *ngIf="loggedIn$ | async">
    <ul class="menu-list">
      <li>
        <label class="switch">
          <input [checked]="isPublic$ | async" (change)="checkboxChanged($event)" type="checkbox">
          <span class="slider round"></span>
        </label>
      </li>
    </ul>
    <ul class="menu-list">
      <li>
        <a href="">
          {{'PUBLIC_PROFILE' | translate}}
        </a>
      </li>
    </ul>
    <ul class="menu-list">
      <li><a [routerLink]="['settings']" queryParamsHandling="merge">{{'MY_ACCOUNT' | translate}}</a></li>
      dling="merge">{{'MY_ACCOUNT' | translate}}</a></li>
    </ul>
    <ul class="menu-list">
      <li><a (click)="logout()" queryParamsHandling="merge">{{'LOGOUT' | translate}}</a></li>
    </ul>
  </ng-container>
  <ng-container *ngIf="!(loggedIn$ | async)">
    <ul class="menu-list">
      <li><a [routerLink]="['',{ outlets: { sidebar: ['login'] }}]" queryParamsHandling="merge">{{'LOGIN' |
          translate}}</a></li>
    </ul>
  </ng-container>
</aside>