<p class="title is-3">{{'REQUEST_PASSWORD_RESET' | translate}}</p>


<form [formGroup]="resetPasswordForm">

    <div class="field">
        <label class="label">{{'EMAIL' | translate}}</label>
        <div class="control">
            <input 
              [formControl]="resetPasswordForm.controls.email"
              type="text"
              class="input" 
              placeholder="{{'EMAIL' | translate}}">
        </div>
    </div>

</form>

<button
    class="button is-primary is-pulled-right"
    (click)="resetPassword()"
    [disabled]="!resetPasswordForm.valid">
    {{'RESET' | translate}}</button>