// .chart-wrapper {
//     padding-top: 0.7em;
// }

.osem-chart-container {
    width: 100%;
    position: relative;
    overflow: auto;
    background: var(--background-primary-full);
    box-sizing: border-box;
    min-height: 25VH;
    // width: 1000px;
    // height: 300px;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}