<div class="modal" [class.is-active]="showModal" id="intro-layer">
  <div class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{'CONFIRM_REMOVE_TITLE' | translate}}</p>
        <button class="delete" aria-label="close" (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">
          <div class="content">
            {{'CONFIRM_REMOVE_TEXT' | translate}}
          </div>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <div class="field">
            <p class="control">
              <button 
                class="button is-success" 
                type="submit"
                (click)="deleteSensor(box._id)">
                {{'CONFIRM_YES' | translate}}
              </button>
            </p>
          </div>
          <div class="field pl-2">
            <p class="control">
              <button 
                (click)="closeModal()"
                class="button is-danger" 
                type="cancel">
                {{'CONFIRM_NO' | translate}}
              </button>
            </p>
          </div>
        </div>
      </footer>
  </div>
</div>


<div *ngIf="box">
  <button class="button is-success" (click)="addSensorBoolean = !addSensorBoolean">
    <span class="icon is-small">
      <i class="fa fa-plus"></i>
    </span>
    <span class="text">{{'ADD_SENSOR' | translate}}</span>
  </button>

  <div class="box" *ngIf="addSensorBoolean">
    <h3>{{'ADD_SENSOR' | translate}}</h3>
    <form [formGroup]="sensorForm">

      <div class="field">
        <label class="label">{{'PHENOMENON' | translate}}</label>
        <div class="field-body">
          <div class="control">
            <div class="select">

              <select [formControl]="sensorForm.controls.phenomenon">
                <option *ngFor="let pheno of groupedSensors | keyvalue" [value]="pheno.key">{{pheno.key}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      
      <div class="field">
        <label class="label">{{'SENSOR_TYPE' | translate}}</label>
        <div class="field-body">
          <div class="control">
            <div class="select">
              <select [formControl]="sensorForm.controls.sensorWikiSensorType" *ngIf="sensorForm.value.phenomenon">
                <option *ngFor="let sensor of groupedSensors[sensorForm.value.phenomenon]" [value]="sensor.sensor.sensor.value">{{sensor.sensor.label ? sensor.sensor.label[0].value : sensor.sensor.sensor.value}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">{{'SENSOR_UNIT' | translate}}</label>
        <div class="field-body">
          <div class="control">
            <div class="select">
              <select [formControl]="sensorForm.controls.unit" (click)="showPossibleUnits(sensorForm.value.sensorWikiSensorType)" *ngIf= "sensorForm.value.sensorWikiSensorType">
                <option *ngFor="let unit of possibleUnits" [value]="unit.iri">
                  {{unit.label}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      
      <div class="buttons">
        <div class="field">
          <p class="control">
            <button 
              [disabled]="!this.sensorForm.valid"
              class="button is-success" 
              type="submit"
              (click)="addSensor(box._id)">
              {{'SAVE' | translate}}
            </button>
          </p>
        </div>
        <div class="field pl-2">
          <p class="control">
            <button 
              (click)="addSensorBoolean = false"
              class="button is-danger" 
              type="cancel">
              {{'CANCEL' | translate}}
            </button>
          </p>
        </div>
      </div>
    </form>
  </div>


  <div class="card" *ngFor="let sensor of box.sensors">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{sensor.title}}</p>
          <p class="subtitle is-6">ID: {{sensor._id}}</p>
        </div>
      </div>

      <div class="content">
        <table class="table osem-small-text is-narrow">
          <tr>
            <td>{{'UNIT' | translate}}</td>
            <td><b>{{sensor.unit}}</b></td>
          </tr>
          <tr>
            <td>{{'SENSOR_TYPE' | translate}}</td>
            <td><b>{{sensor.sensorType}}</b></td>
          </tr>
        </table>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Measurements</a>
      <a href="#" class="card-footer-item">Edit</a>
      <a (click)="openModal(sensor)"  class="card-footer-item has-text-danger">Delete</a>
    </footer>
  </div>

</div>
