@import '../../../../../styles/variables.scss';

.bottom-bar-container {
    background: var(--background-primary);
  
    .box-header {
      display: flex;
      z-index: 5;
      background: var(--background-secondary);;
      justify-content: space-around;
      align-items: center;
      position: relative;
      color: var(--text-color-primary);
      padding-right: 30px;
      
      .name {
        font-weight: bold;
        font-size: 1.3em;
        padding: 0.3em 0;
        cursor: default;
        @media screen and (max-width: $secondBreak){
          font-size: 1.1em;
        }

        #compare-to-button {
          display: inline-block;
          cursor: pointer;
          width: 100px;
          border: 1px dashed var(--text-color-primary);
          // padding-left: 0.5em;
          margin-left: 0.5em;
          span {
            font-size: 0.7em;
            line-height: 20px;
            display: flex;
            align-items: center;
            padding: 0.2em;
          }
        }
      }
      .last-measurement {
        font-style: italic;
        font-size: 0.7em;
        cursor: default;
      }
    }
    .scroll-wrapper {
      position: relative;
      &.scrollable {
        padding-left: 1.5em;
        padding-right: 1.5em;
        .arrow {
          display: flex;
        }
      }
      .arrow {
        overflow-y: hidden;
        box-shadow: 0px 0 10px rgba(0,0,0,.35);
        display: none;
        position: absolute;
        height: 100%;
        z-index: 2;
        // background: var(--color-primary);
        background: var(--arrow-color);
        align-items: center;
        justify-content: center;
        opacity: 0.9;
        color: white;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
      .arrow-left {
        left: 0;
        width: 1.5em;
      }
      .arrow-right {
        right: 0;
        width: 1.5em;
      }

    }
    .max-width-scroll {
      width: 100%;
      box-sizing: border-box;
      overflow-x: auto;
      overflow-y: hidden;
      -ms-overflow-style: none;
      &.scrollable {
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
    .osem-sensors {
      // display: flex;
      // justify-content: center;
      background: var(--background-primary);
      color: var(--text-color-primary);
      white-space: nowrap;
      text-align: center;
      position: relative;

      .osem-sensors-inner {
        white-space: nowrap;
      }
  
      .osem-sensor {
        display: inline-block;
        position: relative;
        // background: $primaryBackgroundLight;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0.5em 0.7em;
        // margin: 0.2em 0.2em;
        &:hover {
          background: var(--hover-color);
          cursor: pointer;
        }
        // border: 1px solid rgb(121, 117, 117);

        .icon-value-unit {
          display: flex;
          height: 2.3em;
          justify-content: space-between;
          align-items: center;
          .icon {
            font-size: 1.3em;
            padding: 0 0.2em;
          }
          .value {
            font-size: 2.3em;
          }
          .unit {
            align-self: baseline;
            left: -10px;
            position: relative;
            font-size: 0.8em;
            font-weight: bold;
          }
        }
        
        .title {
          text-align: center;
        }
        .add-button-container {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 1.2em;
          display: flex;
          justify-content: center;
          align-items: center;
          .add-button {
            width: 20px;
            height: 20px;
            // border: 1px solid #ccc;
            cursor: pointer;
            &:hover {
              background: var(--color-primary);
            }
          }
        }
      }
    }
  }