<div class="content-container">
    <div class="content">
        <div class="about osem-padding-small">
            <div>
                <h3>Was ist die openSenseMap.org?</h3>
                <p>Die wahrscheinlich größte offene Platt­form für Umwelt- und Sensordaten weltweit ermöglicht es allen Menschen kostenfrei
                auf umfangreiche Daten zuzugreifen, diese zu analysieren und eigene Messungen zu veröffentlichen. Dadurch ist ein
                einzigartiger Datensatz mit Echtzeitdaten überall auf der Welt entstanden, der nach­prüf­bare lokale wie globale Fakten
                zu Umwelt­phänomenen wie dem Klimawandel liefert.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Wer betreibt die openSenseMap.org?</h3>
                <p>Die openSenseMap.org wird vom openSenseLab betrieben. Das openSenseLab ist eine gemeinnützige Organisation aus Münster.
                Die Vision des openSenseLab ist eine Zukunft, in der jede:r freien Zugang zu Wissen und exzellenter Bildung hat und sich
                digital mündig für Klima- und Umweltschutz einsetzt.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Wer hat die openSenseMap gegründet?</h3>
                <p>Die openSenseMap wurde 2014 am Institut für Geoinformatik der Universität Münster gegründet.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Welche Geräte werden unterstützt?</h3>
                <p>Wir unterstützen Messgeräte verschiedener Citizen Science Projekte und Anbieter, z.B. SensorCommunity (ehemals
                luftdaten.info), HackAIR, Arduino (z.B. Arduino Uno) und senseBox.
                Die Plattform ist allerdings nicht auf diese Geräte beschränkt. Dank der REST API können von fast jedem IoT-Messgerät
                Messwerte an die openSenseMap gesendet werden. Weitere Informationen und wie du dein Messgerät
                registrierst, findest du in unseren <a href="https://tutorials.opensensemap.org" target="_blank">Tutorials</a>.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Wo kann ich mitmachen?</h3>
                <p>Du kannst mitmachen, indem Du Dich mit den Daten auf der Website beschäftigst, indem Du Dich anmeldest und Sensordaten
                hochlädst, indem Du Deinen Freunden und Deiner Familie von uns erzählst, indem Du bei GitHub ehrenamtlich am Code
                mitarbeitest oder indem Du uns Feedback gibst und Deine Ideen und Visionen mit uns teilst.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Wie kann ich Euch finanziell unterstützen?</h3>
                <p>Über unser <a [routerLink]="['/', { outlets: { sidebar: ['m','donate'] }}]" href="#">Spendenformular</a> (sichere Zahlung per Lastschrift, PayPal, Kreditkarte und Überweisung) oder auf <a href="https://www.betterplace.org/de/projects/89947-opensensemap-org-die-freie-karte-fuer-umweltdaten" target="_blank">betterplace</a>.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Wie kann ich mit Euch kooperieren?</h3>
                <p>Du bist Teil einer Uni, eines Unternehmens, eines Vereins oder einer Stiftung und hast Interesse daran, gemeinsame
                Projekte umzusetzen? Melde Dich gerne bei uns: <a href="https://opensenselab.org/kontakt.html" target="_blank">https://opensenselab.org/kontakt.html</a>.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Wo werden die Daten gespeichert?</h3>
                <p>Die Daten werden im Rechenzentrum der Uni Münster gespeichert.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Wo finde ich weitere Informatioen über die openSenseMap und den Code?</h3>
                <p>Der gesamte Quellcode befindet sich unter einer freien Lizenz auf <a href="https://github.com/sensebox/openSenseMap" target="_blank">GitHub</a>.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Wie kann ich Kontakt mit Euch aufnehmen?</h3>
                <p>Du kannst Dich gerne mit allen Fragen, Ideen und Anregungen an uns wenden. Die Kontaktdaten findest Du auf unserer
                Website <a href="https://opensenselab.org/index.html" target="_blank">openSenseLab.org</a> unter <a href="https://opensenselab.org/kontakt.html" target="_blank">Kontakt</a>.</p>
            </div>
        </div>
    </div>
</div>