<div class="content-container">
    <div class="content">
        <div class="about osem-padding-small">
            <div>
                <h3>Wer steckt hinter dem Projekt?</h3>
                <p>Die <a href="https://data.opensensemap.org">openSenseMap</a> ist im Jahr 2014 vom Institut für Geoinformatik der Universität Münster ins Lebens gerufen worden. Seit dem Start ist die openSenseMap eng mit dem Projekt der <a href="https://sensebox.de" target="_blank">senseBox</a> verbunden.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Welche Art von Daten kann ich hochladen?</h3>
                <p>Die openSenseMap versteht nur numerische Messwerte. Texte, Bilder oder binäre Dateien können nicht übertragen werden.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Wie kann ich Daten hochladen?</h3>
                <p>Die Messwerte können über eine Vielzahl verschiedener Geräte hochgeladen werden.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Wie viele Daten kann ich pro Minute hochladen?</h3>
                <p>Um die Datenbank nicht zu überlasten, können 6 Pakete mit Messwerten pro Minute hochgeladen werden. Du solltet daher
                darauf achten.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Wo werden die Daten gespeichert?</h3>
                <p>Die Daten werden auf dem Rechenzentrum der Uni Münster gespeichert.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Welche Geräte werden unterstützt?</h3>
                <p>Die openSenseMap empfängt, als offene Plattform, Daten von allen Geräten, die ihre Messdaten zur openSenseMap schicken.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Ich habe keine senseBox kann ich trotzdem Daten hochladen?</h3>
                <p>Nicht nur von der senseBox können Daten auf die openSenseMap geladen werden. Die openSenseMap unterstützt auch
                Messgeräte aus den Citizen Science Projekten <a href="https://luftdaten.info" target="_blank">luftdaten.info</a> und <a href="https://www.hackair.eu/" target="_blank">HackAIR</a>. Dank der <a href="https://docs.opensensemap.org" target="_blank">REST API</a> können jedoch von fast jedem
                IoT-Messgeräte Messwerte an die openSenseMap gesendet werden. Weitere Informationen und wie du dein Messgerät
                registrierst, findest du in unseren <a href="https://tutorials.opensensemap.org" target="_blank">Tutorials</a>.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Wo finde ich weitere Informatioen über die openSenseMap und den Code?</h3>
                <p>Der gesamte Quellcode befindet sich unter einer freien Lizenz auf <a href="https://github.com/sensebox/openSenseMap" target="_blank">GitHub</a>.</p>
            </div>
        </div>

        <div class="about osem-padding-small">
            <div>
                <h3>Ich finde das Projekt super, wie kann ich euch unterstützen?</h3>
                <p>Wir freuen uns immer über Unterstützung jeglicher Art, sei es Mitarbeit am Code oder Ideen sammeln im <a href="https://forum.sensebox.de" target="_blank">Forum</a>.</p>
            </div>
        </div>
    </div>
</div>