html {
    --text-color-primary: #383838;
    --text-color-secondary: #eee;
    --color-primary: #4EAF47;

    --background-primary: rgba(255, 255, 255, 0.7);
    --background-primary-light: rgba(255, 255, 255, 0.1);
    --background-primary-full: rgba(255,255,255,1);

    --background-secondary: #4EAF47;
    --background-secondary-light: #68C961;

    --box-shadow-basic: 1px 1px 2px 1px rgba(50,50,50,0.3);
    --box-shadow-small: 1px 1px 1px 1px rgba(50,50,50,0.2);

    --color-opposite-light: rgba(200, 200, 200);
    --shadow-color: rgba(50,50,50,0.3);

    --color-disabled: rgba(200,200,200); 
}