$primaryColor: #EB5933;
$secondaryColor: #383838;
$thirdColor: white;
$eduBlue: #45beed;
$homeYellow: darken(#fff200, 15%);
$senseGreen: #4EAF47;


$firstBreak: 480px;
$secondBreak: 768px;
$thirdBreak: 1200px;