<div id="phenomen-selector">
    <div class="">
        <div class="top-bar">
            <div class="pheno-info" *ngIf="selectedPheno">
                <div class="pheno-name">
                    {{selectedPheno.title | translate}} <span class="normal" *ngIf="selectedPheno.title != 'ALL'">({{selectedPheno.unit}})</span>
                </div>
                <div class="info">
                    <span class="icon osem-clickable-icon" title="{{'INFO' | translate}}"
                        (click)="showInfo(selectedPheno.title)"><i class="fa fa-info"></i></span>
                    <span>|</span>
                    <span class="icon osem-clickable-icon" title="{{'EDIT_LEGEND' | translate}}"
                        (click)="editLegend()"><i class="fa fa-edit"></i></span>
                    <span queryParamsHandling='merge' [routerLink]="[{ outlets: { modal: ['newvis'] } }]"
                        class="icon osem-clickable-icon" title="{{'SAVE_AND_SHARE' | translate}}"><i
                            class="fa fa-save"></i></span>
                </div>
            </div>
            <div class="pheno-info" *ngIf="!selectedPheno">
                <p class="has-text-danger has-text-weight-bold">{{'CHOOSE_A_PHENO' | translate}}</p>
            </div>
            <div class="control pheno-search">
                <p class="control has-icons-left has-icons-right">
                    <input class="input is-small osem-border-radius" type="text"
                        placeholder="{{'SEARCH_PHENO' | translate}}">
                    <span class="icon is-small is-left">
                        <i class="fa fa-search"></i>
                    </span>
            </div>
            <div class="pheno-icon">
                <ng-template #phenoName>
                    <div class="pheno-name">
                        {{selectedPheno.title | translate}}
                    </div>
                    <div id="legend-info" *ngIf="selectedPheno && !changeVariable">
                        <div class="unit">
                            <div class="unit-symbol">
                                {{selectedPheno.unit}}
                            </div>
                        </div>
                        <!-- <div class="top-score">
                            <a (click)="openVis(selectedPheno.title)">{{'SCENARIOS' | translate}}</a>
                        </div> -->
                        <div class="info" (click)="showInfo(selectedPheno.title)">
                            <i class="fa fa-info"></i><br>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="bottom-content">
            <div id="phenos" [class.small]="(selectedPheno && !changeVariable) || !changeVariable">
                <div *ngFor="let pheno of phenos" (click)="selectPheno(pheno)"
                    [class.active]="pheno?.title === selectedPheno?.title" class="pheno">
                    <div class="osem-icon-container" [title]="pheno.title">
                        <i *ngIf="pheno.title != 'ALL'" class="osem-icon {{pheno.icon}}"></i>
                    </div>
                    <div class="osem-inline name">
                        {{pheno.title | translate}}
                    </div>
                </div>
                <div class="pheno pl-5">
                    <a>{{'SHOW_ALL' | translate}}</a>
                </div>

            </div>
            <div id="legend" *ngIf="selectedPheno && !changeVariable">
                <osem-legend-container></osem-legend-container>
            </div>
        </div>
    </div>
</div>