@import '../../../../../styles/variables.scss';

#phenomene-selector {
    
    .pheno {
        display: flex;
        align-items: center;
        cursor: pointer;
        i {
            padding: 0 0.8em 0 0.4em;
            flex-grow: 0;
            width: 25px;
        }
        &.active {
            background: var(--background-primary);
            color: var(--color-primary);
        }
        &:hover {
            background: var(--background-primary-full);
            color: var(--color-primary);
        }
        .name {
            flex-grow: 1;
            text-align: left;
        }
    }
    
}