<!-- 
<div class="" id="phenomene-selector">
    <div class="pheno osem-padding-small">
        <i *ngIf="!selectedPheno" class="fa fa-search"></i>
        <i *ngIf="selectedPheno" class="fa fa-refresh"></i>
        <input *ngIf="!selectedPheno" type="text">
    </div>
    <div *ngFor="let pheno of phenos" 
        (click)="selectPheno(pheno)" 
        [class.active]="pheno?.title === selectedPheno?.title"
        class="pheno osem-padding-small">
        <i class="osem-icon {{pheno.icon}}"></i>
        <div class="osem-inline name" *ngIf="!selectedPheno">
            {{pheno.title}}
        </div>
    </div>
</div>

<div id="legend-wrapper" *ngIf="selectedPheno">
    <osem-legend-container class="osem-padding-small"></osem-legend-container>
</div> -->


<div id="phenomen-selector">
    <div class="">
        <div class="top-bar">
            <div class="pheno-icon">
                <div class="osem-icon-container" (click)="toggleChange()">
                    <i *ngIf="!selectedPheno || changeVariable; else change" class="fa fa-search"></i>
                    <ng-template #change>
                        <i class="fa fa-sync"></i>
                    </ng-template>
                </div>
                <input *ngIf="!selectedPheno || changeVariable; else phenoName" type="text">
                <ng-template #phenoName>
                    <div class="pheno-name">
                        {{selectedPheno.title}}
                    </div>
                </ng-template>
            </div>
        </div>
        <hr>
        <div class="bottom-content">
            <div id="phenos" [class.small]="(selectedPheno && !changeVariable) || !changeVariable">
                <div 
                    *ngFor="let pheno of phenos" 
                    (click)="selectPheno(pheno)" 
                    [class.active]="pheno?.title === selectedPheno?.title"
                    class="pheno">
                    <div class="osem-icon-container" [title]="pheno.title">
                        <i class="osem-icon {{pheno.icon}}"></i>
                    </div>
                    <div class="osem-inline name" *ngIf="!selectedPheno || changeVariable">
                        {{pheno.title}}
                    </div>
                </div>
            </div>
            <div id="legend" *ngIf="selectedPheno && !changeVariable">
                <osem-legend-container></osem-legend-container>
            </div>
            <div id="legend-info" *ngIf="selectedPheno && !changeVariable">
                <div class="unit">
                    {{'UNIT' | translate}}:
                    <div class="unit-symbol">
                        {{selectedPheno.unit}}
                    </div>
                </div>
                <div class="top-score">
                    <a (click)="openVis(selectedPheno.title)">{{'SCENARIOS' | translate}}</a>
                </div>
                <div class="info" (click)="showInfo(selectedPheno.title)">
                    <i class="fa fa-info"></i><br>
                    {{selectedPheno.title}}
                </div>
                <!-- <i class="osem-icon {{selectedPheno.icon}}"></i> -->
            </div>     
            <div id="no-pheno-help" *ngIf="!selectedPheno">
                <div id="text">
                    {{'SELECT_PHENO' | translate}}
                </div>
            </div>            
        </div>
    </div>
</div>
