
<p class="title is-3">{{'CHOOSE_YOUR_DEVICE' | translate}}</p>
<p class="subtitle is-4">{{'WHICH_DEVICE_ARE_U_USING' | translate}}</p>

<div *ngIf="loading" class="columns is-centered py-4">
  <osem-loading></osem-loading>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent" *ngFor="let device of devices">

    <div class="card" 
      (click)="selectDevice(device)"
      [class.selected]="selectedDevice?.label === device.label">  
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{device.image}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{device.label}}</p>
            <!-- <p class="subtitle is-6">@johnsmith</p> -->
          </div>
        </div>

        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris. <a>@bulmaio</a>.
        </div>
      </div>
      <div class="card-selected">
        <i class="fa fa-2x fa-check-square"></i>
      </div>
    </div>
  </div>
</div>

<button
  [disabled]="!selectedDevice"
  class="button is-primary is-pulled-right"
  [routerLink]="['../general']">
  {{'NEXT' | translate}}</button>
