

.card {
    border: 4px solid rgba(0,0,0,0);
    transition: border-color ease-out 0.15s;
    cursor: pointer;

    .card-selected {
        display: none;
        position: absolute;
        right: 0;
        bottom: 0;
        color: var(--color-primary);
    }

    &.selected {
        border-color: var(--color-primary);

        .card-selected {
            display: block;
        }
    }
    &:hover {
        border-color: var(--color-primary-light);
    }
}