.card-content {
  background-color: white;
}

.bottom-bar-container {
  background: var(--background-primary);

  .box-header {
    display: flex;
    z-index: 5;
    background: var(--background-secondary);
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: var(--text-color-primary);
    padding-right: 30px;
    margin-bottom: 10px;
    // @media screen and(max-width: $secondBreak){
    //   padding-left: 0.3em;
    // }
  }
}

.card {
  max-width: 300px;
  cursor: pointer;
  transition: all .3s ease-in-out; 
}

.card:hover {
  transform: scale(1.1);
  z-index: 999;
}

.is-flex {
  gap: 10px;
}

.name {
  padding: 10px;
}

.wrapper {
  padding-bottom: 20px;
}

.helper {
  margin-bottom: 0.2rem;
}

.data {
  overflow: scroll;
  max-height: 40vh;
}

// LOADER

.loader {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: var(--background-secondary) var(--background-secondary)
    transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent var(--background-secondary)
    var(--background-secondary);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
