<div [@slideInOutAnimation] *ngIf="!(userBadgesLoaded && boxesLoaded && allBadgesLoaded) && !userIsPrivate"
    class="profile bottom-bar-container">
    <div class="bottom-bar-container">
        <div *ngIf="!(userBadgesLoaded && boxesLoaded && allBadgesLoaded) && !userIsPrivate" class="has-text-centered">
            <span class="loader"></span>
        </div>
    </div>
</div>

<div [@slideInOutAnimation] *ngIf="userBadgesLoaded && boxesLoaded && allBadgesLoaded"
    class="profile bottom-bar-container">
    <div class="bottom-bar-container">
        <div class="box-header">
            <div class="name">
                <span>{{username}}</span>
            </div>
            <div class="osem-close-text" (click)="closeBox()">
                <button class="delete is-medium"></button>
            </div>
        </div>
        <div *ngIf="userIsPrivate">
            <div class="box has-text-centered">
                This profile is not public.
            </div>
        </div>
        <div *ngIf="userBadgesLoaded && boxesLoaded && allBadgesLoaded" class="data">
            <div *ngIf="userBadges.length > 0" class="wrapper">
                <div class="title is-4 has-text-centered helper">Badges</div>
                <div class="is-flex is-justify-content-center is-flex-wrap-wrap">
                    <div *ngFor="let badge of userBadges" class="card is-shadowless"
                        (click)="goToLink(badge.badgeclassOpenBadgeId)">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src={{badge.image}}>
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-6">{{badge.name}}</p>
                                    <p class="subtitle is-7">{{badge.issuedOn | date:'short'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let badge of allBadges" class="card notearned is-shadowless">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src={{badge.image}}>
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-6">{{badge.name}}</p>
                                    <p class="subtitle is-7">{{badge.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="boxes.length > 0" class="wrapper">
                <div class="title is-4 has-text-centered helper">Boxes</div>
                <div class="is-flex is-justify-content-center is-flex-wrap-wrap">
                    <div *ngFor="let box of boxes" class="card is-shadowless" (click)="goToBox(box)">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img *ngIf="box.image"
                                            [src]="'https://opensensemap.org/userimages/' + box.image"
                                            alt="Placeholder image">
                                        <img *ngIf="!(box.image)" src="https://bulma.io/images/placeholders/96x96.png"
                                            alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-6">{{box.name}}</p>
                                    <p class="subtitle is-7">{{box.description}}</p>
                                    <!-- <p class="subtitle is-7">{{box.createdAt | date:'short'}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>