<div [@slideInOutAnimation] *ngIf="!(userBadgesLoaded && boxesLoaded && allBadgesLoaded)"
    class="profile bottom-bar-container">
    <div class="bottom-bar-container">
        <div *ngIf="!(userBadgesLoaded && boxesLoaded && allBadgesLoaded)" class="has-text-centered">
            <span class="loader"></span>
        </div>
    </div>
</div>

<div [@slideInOutAnimation] *ngIf="userBadgesLoaded && boxesLoaded && allBadgesLoaded"
    class="profile bottom-bar-container">
    <div class="bottom-bar-container">
        <div class="box-header">
            <div class="name">
                <span>{{username}}</span>
            </div>
            <div class="osem-close-text" (click)="closeBox()">
                <button class="delete is-medium"></button>
            </div>
        </div>
        <div class="background">
            <div *ngIf="userBadgesLoaded && boxesLoaded && allBadgesLoaded" class="columns is-vcentered data">
                <div *ngIf="boxes.length > 0" class="column is-2 ml-4">
                    <div class="card is-shadowless has-text-right box">
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                                    <span class="icon is-small">
                                        <i class="fas fa-caret-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a *ngFor="let box of boxes; let i = index" class="dropdown-item" (click)="selectBox(i)">
                                        {{box.name}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="has-text-centered">
                            <figure class="image is-96x96 is-inline-block" (click)="goToBox(boxes[boxIndex])">
                                <img *ngIf="boxes[boxIndex].image"
                                    [src]="'https://opensensemap.org/userimages/' + boxes[boxIndex].image">
                                <img *ngIf="!(boxes[boxIndex].image)" src="assets/icons/motherboard.png">
                            </figure>
                            <p class="boxtitle title is-6">{{boxes[boxIndex].name}} </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <section class="section">
                        <div class="container">
                            <div class="columns is-centered is-vcentered is-gapless">
                                <div *ngFor="let badge of userBadges" class="column">
                                    <div class="card is-shadowless" (click)="goToLink(badge.badgeclassOpenBadgeId)">
                                        <div class="is-vcentered has-text-centered">
                                            <figure class="image is-48x48 is-inline-block">
                                                <img src={{badge.image}}>
                                            </figure>
                                            <p class="title is-6">{{badge.name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngFor="let badge of allBadges" class="column">
                                    <div class="card notearned is-shadowless">
                                        <div class="is-vcentered has-text-centered has-text-centered">
                                            <figure class="image is-48x48 is-inline-block">
                                                <img src={{badge.image}}>
                                            </figure>
                                            <p class="title is-6">{{badge.name}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>