<div class="osem-padding-small download-container">
  <div class="notification is-info is-light">
    <button class="delete"></button>
    Primar lorem ipsum dolor sit amet, consectetur
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.
    Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
  </div>
  <form>

    <!-- <div class="field">
      <osem-datepicker [dateRange]="selectedDateRange$ | async" [dateStamp]="selectedDateStamp$ | async"
        [activeTimeMode]="selectActiveTimeMode$ | async" [showDateModal]="showDateModal$ | async"
        (dateChanged)="changeDateRange($event)" (toggledDateModal)="toggleDateModal($event)"></osem-datepicker>
    </div> -->

    <div class="field">
      <label class="label">{{'MEAN' | translate}}</label>
      <div class="control is-expanded">
        <div class="select is-small is-fullwidth">
          <select [(ngModel)]="downloadDetails.window" name="window">
            <option *ngFor="let window of windows" [value]="window">{{window}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Operationen</label>
      <div class="control is-expanded">
        <div class="select is-small is-fullwidth">
          <select [(ngModel)]="downloadDetails.operation" name="operation">
            <option *ngFor="let operation of operations" [value]="operation">{{operation}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">{{ "DOWNLOAD_SELECTSENSOR" | translate }}</label>
      <div class="control is-expanded">
        <div class="select is-small is-fullwidth">
          <select>
            <option value=""></option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <nav class="panel">
        <div class="panel-heading">
          <div class="panel-header">
            <span class="panel-header-text">Erweitert</span>
            <button class="button is-small" (click)="expand()">
              <span class="icon is-small">
                <i class="fa fa-plus"></i>
              </span>
            </button>
          </div>
        </div>
        <div class="panel-block" *ngIf="collapsed">
          <div class="options-container">
            <div class="options-row">
              <div class="option-item">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="downloadDetails.lat" name="lat">
                  Geographische Breite
                </label>
              </div>
              <div class="option-item">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="downloadDetails.boxId" name="boxId">
                  Box ID
                </label>
              </div>
              <div class="option-item">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="downloadDetails.sensorType" name="sensorType">
                  Sensor Typ
                </label>
              </div>
            </div>
            <div class="options-row">
              <div class="option-item">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="downloadDetails.lng" name="lng">
                  Geographische Länge
                </label>
              </div>
              <div class="option-item">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="downloadDetails.boxName" name="boxName">
                  Name
                </label>
              </div>
              <div class="option-item">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="downloadDetails.sensorId" name="sensorId">
                  Sensor ID
                </label>
              </div>
            </div>
            <div class="options-row">
              <div class="option-item">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="downloadDetails.height" name="height">
                  Höhe (GPS)
                </label>
              </div>
              <div class="option-item">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="downloadDetails.phenomenon" name="phenomenon">
                  Phänomen
                </label>
              </div>
              <div class="option-item">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="downloadDetails.unit" name="unit">
                  Einheit
                </label>
              </div>
            </div>
            <div class="options-row">
              <div class="option-item">
                <div class="field control">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="downloadDetails.exposure" name="exposure">
                    Standort
                  </label>
                </div>
              </div>
              <div class="option-item">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="downloadDetails.value" name="value">
                  Messwert
                </label>
              </div>
              <div class="option-item">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="downloadDetails.createdAt" name="createdAt">
                  Erstellt am
                </label>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="field">
      <label class="label">Datenformat</label>
      <div class="control is-expanded">
        <div class="buttons has-addons">
          <button class="button grow" [ngClass]="downloadDetails.format=='csv' ? 'is-success is-selected' : ''" (click)="selectFormat('csv')">CSV</button>
          <button class="button grow" [ngClass]="downloadDetails.format=='json' ? 'is-success is-selected' : ''" (click)="selectFormat('json')">JSON</button>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control is-expanded">
        <a class="button is-fullwidth" (click)="download()">
          <span class="icon">
            <i class="fa fa-download"></i>
          </span>
          <span>Download</span>
        </a>
      </div>
    </div>
  </form>
</div>