<div id="map"></div>
<div id="demo"></div>
<pre id="info"></pre>
<!-- Create a container for the instructions and directions -->

<router-outlet></router-outlet>

<!--*ngIf="drawmode$ | async"-->y
<div  class="info-box">
    <ul>
      <h2>Url comparison <br> {{comparison}}-- <br> current url: {{my_url_var}}</h2>
      <li>Please use the market drawing tool to select the location of posible box locations for your campaign.
      <strong><br>Note: </strong>You can create multipoints
      </li>
      <br>
      <li>Please use the polygon drawing tools to cover the boxes you want to send an invitation to participate in the campaign.
      <strong><br>Note: </strong>You can create multipolygons
      </li>
    </ul>
  <br>

<link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
