<div id="map"></div>
<div id="demo"></div>
<pre id="info"></pre>
<router-outlet></router-outlet>

<div  class="info-box" *ngIf="drawmode$ | async">
    <ul>
      <!--li>Use the <b>market drawing tool</b> to mark relevant locations for your campaign.
      </li>
      <br-->
      <li>Use the <b>polygon drawing tools</b> to cover the boxes you want to send an invitation to participate in the campaign.
      </li>
      <br>

      <div class="calculation-box">
        <div id="calculated-area"></div>
      </div>
    </ul>
  <br>

<link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
