<div id="share-vis-window" class="osem-padding">
  <h1 class="title is-1">{{'SHARE_VIS' | translate}}</h1>
  <div class="share-vis-box">
    <div class="share-vis-elem">
      <div class="share-vis-preview">
        <img src="/assets/img/test/share-preview-webmap.jpeg">
      </div>
      <button class="osem-button" (click)="shareVis()">{{'WEB_MAP' | translate}}</button>
    </div>
    <div class="share-vis-elem">
      <div class="share-vis-preview">
        <img src="/assets/img/test/share-preview-pdf.jpeg">
      </div>
      <button class="osem-button" (click)="shareVis()">{{'PDF' | translate}}</button>
    </div>
    <div class="share-vis-elem">
      <div class="share-vis-preview">
        <img src="/assets/img/test/share-preview-gif.jpeg">
      </div>
      <button class="osem-button" (click)="shareVis()">{{'GIF' | translate}}</button>
    </div>
  </div>
  <share-buttons id="share-osm" theme="circles-dark"
                 [include]="['copy', 'facebook', 'linkedin', 'telegram', 'whatsapp']"
                 [showIcon]="true"
                 [showText]="false"
                 url="https://opensensemap.org/explore/5c4082821b7ca80019327adc"
                 description="OpenSenseMap"
                 class="pt-5">
  </share-buttons>
</div>
