<div class="osem-padding">
  <h1 class="title is-1">{{'SHARE_VIS' | translate}}</h1>
  <div class="osem-padding share-vis-box">
    <div class="share-vis-elem">
      <div class="share-vis-preview">
          <img src="/assets/img/test/share-preview-webmap.jpeg">
      </div>
      <button class="osem-button" (click)="shareMap()">{{'WEB_MAP' | translate}}</button>
    </div>
    <div class="share-vis-elem">
      <div class="share-vis-preview">
        <img src="/assets/img/test/share-preview-pdf.jpeg">
      </div>
      <button class="osem-button" (click)="sharePDF()">{{'PDF' | translate}}</button>
    </div>
    <div class="share-vis-elem">
      <div class="share-vis-preview">
        <img src="/assets/img/test/share-preview-gif.jpeg">
      </div>
      <button class="osem-button" (click)="shareGIF()">{{'GIF' | translate}}</button>
    </div>
  </div>
</div>