@import '../styles/variables.scss';

osem-nav-container {
    position: absolute;;
    top: 0;
    right: 0;
    z-index: 100;
    @media screen and(max-width: $secondBreak){
        width: 100%;
    }
}

osem-filter-container {
    position: absolute;
    top: 0;
    @media screen and(max-width: $secondBreak){
        top: $headerHeight;
    }
    left: 0;
    z-index: 20;
}

osem-bottom-bar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

osem-phenomenon-container {
    position: absolute;
    left: 50px;
    top: 200px;
    z-index: 40;
    background: rgba(240,240,240,0.7);
}

osem-legend-container {
    position: absolute;
    right: 10px;
    top: 140px;
    z-index: 15;
    background: var(--background-primary-full);

}

osem-time-slider-container {
    position: absolute;
    // left: 50%;
    left: 273px;
    // transform: translateX(-50%);
    top: 0;
    z-index: 9;
    min-width: 200px;

}