@import '../styles/variables.scss';

osem-nav-container {
    position: absolute;;
    top: 0;
    right: 0;
    z-index: 100;
    @media screen and(max-width: $secondBreak){
        width: 100%;
    }
}

#intro-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 110;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    .intro-text {
        max-width: 400px;
        background: var(--background-primary-full);
        .osem-button {
            float: right;
        }
    }
}

osem-filter-container {
    position: absolute;
    top: 0;
    width: $filterWidth;
    @media screen and(max-width: $secondBreak){
        top: $headerHeight;
        width: calc(100% - 20px);
    }
    left: 0;
    z-index: 95;
}

osem-bottom-bar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 90;
}

osem-phenomenon-container {
    position: absolute;
    left: 50px;
    top: 200px;
    z-index: 40;
    background: rgba(240,240,240,0.7);
}

// osem-legend-container {
//     position: absolute;
//     right: 10px;
//     top: 150px;
//     z-index: 15;
//     border: 1px solid var(--color-primary);
//     background: var(--background-primary-full);

// }

osem-time-slider-container {
    position: absolute;
    // left: 50%;
    left: $filterWidth;
    // transform: translateX(-50%);
    top: 0;
    z-index: 9;
    min-width: 200px;
    @media screen and(max-width: $secondBreak){
        top: $headerHeight;
    }

}

osem-map-options-container {
    position: absolute;
    right: 1em;
    top: 200px;
    z-index: 9;
    
}