<!-- <div class="modal is-active" >
    <div class="modal-background"></div>
    <div class="modal-content">
        <button class="modal-close is-large" aria-label="close" (click)="close()"></button>

        <div class="timerange osem-padding modal-content-inner" *ngIf="active === 'timerange'">
            <p class="time-exp-text">
                {{'TIMERANGE_TEXT' | translate}}
            </p>
            <div class="calendar-timerange">
                <div class="calendar-container">
                    <div>
                        <span>{{'FROM' | translate}}: </span>  
                        <span *ngIf="dateRangeStart" class="calendar-date">{{dateRangeStart | date:'medium':'':translateService.currentLang}}</span>
                        <span *ngIf="!dateRangeStart" class="has-text-danger">-</span>
                    </div>
                    <owl-date-time-inline
                        [min]="minDate"
                        [max]="maxDate"
                        [stepMinute]="60"
                        [startAt]="startAt"
                        [(ngModel)]="dateRangeStart"
                    ></owl-date-time-inline>
                </div>
                <div class="calendar-container">
                    <div>
                        <span>{{'TO' | translate}}: </span>
                        <span *ngIf="dateRangeEnd" class="calendar-date">{{dateRangeEnd | date:'medium':'':translateService.currentLang}}</span>
                        <span *ngIf="!dateRangeEnd" class="has-text-danger">-</span>
                    </div>
                    <owl-date-time-inline
                        [min]="minDate"
                        [max]="maxDate"
                        [stepMinute]="60"
                        [(ngModel)]="dateRangeEnd"
                    ></owl-date-time-inline>
                </div>
            </div>
            <div class="osem-button-container">
                <button [disabled]="!dateRangeStart || !dateRangeEnd" class="osem-button is-pulled-right" (click)="updateDateRange(dateRangeStart, dateRangeEnd)">{{'SHOW' | translate}}</button>
            </div>
        </div>
    </div>
</div>
 -->
