<p class="title is-3">{{'GENERAL_INFORMATION_BOX' | translate}}</p>


<form [formGroup]="generalForm">
  <osem-form-input 
    [typeString]="'text'"
    [label]="'NAME' | translate"
    [controlName]="'name'" 
    [control]="generalForm.controls.name">

  </osem-form-input>
 
  <div class="field">
    <label class="label">{{'EXPOSURE' | translate}}</label>
    <div class="field-body">
      <div class="control">
        <div class="select">
          <select [formControl]="generalForm.controls.exposure">
            <option value="outdoor">{{'OUTDOOR' | translate}}</option>
            <option value="indoor">{{'INDOOR' | translate}}</option>
            <option value="mobile">{{'MOBILE' | translate}}</option>
          </select>
        </div>
      </div>
    </div>
    <osem-control-message [control]="generalForm.controls.exposure"></osem-control-message>
  </div>

  <div class="field" *ngIf="selectedDevice && (selectedDevice.iri === 'sensebox_home' || selectedDevice.iri === 'sensebox_edu')">
    <label class="label">{{'CONNECTION_TYPE' | translate}}</label>
    <div class="field-body">
      <div class="control">
        <div class="select">
          <select [formControl]="generalForm.controls.connection">
            <option value="wifi">{{'WIFI' | translate}}</option>
            <option value="lan">{{'LAN' | translate}}</option>
            <option value="lora">{{'LORA' | translate}}</option>
          </select>
        </div>
      </div>
    </div>
    <osem-control-message [control]="generalForm.controls.exposure"></osem-control-message>
  </div>

  <osem-form-input 
    [typeString]="'text'"
    [label]="'TAGS' | translate"
    [controlName]="'tags'" 
    [control]="generalForm.controls.tags">

  </osem-form-input>

  <div class="field">
    <label class="label">{{'DESCRIPTION' | translate}}</label>
    <div class="control">
        <textarea 
          [formControl]="generalForm.controls.desc"
          class="textarea" 
          placeholder="{{'BOX_DESCRIPTION' | translate}}"></textarea>
    </div>
  </div>
</form>

<button
  [disabled]="!generalForm.valid"
  class="button is-primary is-pulled-right"
  [routerLink]="['../sensors']"
  queryParamsHandling="preserve"
  >
  {{'NEXT' | translate}}</button>
