<osem-nav-right 
    [settings]="settings"
    [language]="language$ | async"
    [theme]="theme$ | async"
    [user]="user$ | async"
    [clustering]="clustering$ | async"
    [selectedPheno]="selectedPheno$ | async"
    (themeToggled)="toggleTheme($event)"
    (languageToggled)="setLanguage($event)"
    (settingsToggled)="toggleSettings()"
    (clusteringToggled)="toggleClustering()"
    [notificationsOpen]="notifications"
    [notifications]="notifications$ | async"
    (notificationsToggled)="toggleNotifications()"
></osem-nav-right>