<aside class="viewer">
    <div class="notification">
      High temperatures at X
    </div>
    <div class="notification">
      Strong winds at Y
    </div>
    <div class="notification">
      Lots of rain at Z
    </div>
    <div class="notification">
      High temperatures at X
    </div>
    <div class="notification">
      Strong winds at Y
    </div>
    <div class="notification">
      Lots of rain at Z
    </div>
    <div class="notification">
      High temperatures at X
    </div>
    <div class="notification">
      Strong winds at Y
    </div>
    <div class="notification">
      Lots of rain at Z
    </div>
    <div class="notification">
      High temperatures at X
    </div>
    <div class="notification">
      Strong winds at Y
    </div>
    <div class="notification">
      Lots of rain at Z
    </div>
</aside>