.notification {
    padding: 0.6em;
    
}
.threshold-title {
    color: #f14646;
    font-size: 1.4em;
    margin-bottom: 0.4em;
}

.rule-title {
    color: #5146f1;
    font-size: 1.4em;
    margin-bottom: 0.4em;
}