<div class="osem-padding-small secondary-background">
    <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" [(ngModel)]="searchTerm" (input)="changeSearchTerm()"
            (keydown)="keydown($event)" (focus)="enter()" (focusout)="leave()" placeholder="{{ 'SEARCH' | translate}}">
        <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
        </span>
        <span class="icon is-small is-right clear-search" (click)="clearSearch()" *ngIf="searchTerm.length > 0">
            <i class="fa fa-times"></i>
        </span>
    </p>
</div>
<!-- <div id="autocomplete-results" class="osem-box-shadow-basic">     -->
<div id="autocomplete-results" class="osem-box-shadow-basic" [@appear]="searchTerm.length > 3 && resultsActive"
    *ngIf="searchTerm.length > 3 && resultsActive">
    <div class="scroll">
        <div class="autocomplete-list-item osem-padding-small" *ngFor="let box of searchResults; let i = index">
            <div class="left-search-result">
                <i class="fa fa-cube"></i>
            </div>
            <div class="middle-search-result">
                <h4>{{box.name}}</h4>
            </div>
            <div class="right-search-result">
                <div class="detail-button" title="{{'SHOW_ON_MAP' | translate}}" (click)="selectResult($event, box)">
                    <i class="fa fa-eye"></i>
                </div>
            </div>
        </div>
        <div class="divider">

        </div>
        <div class="autocomplete-list-item osem-padding-small"
            *ngFor="let res of locationAutocompleteResults; let i = index" (click)="selectLocationResult(res)">
            <div class="left-search-result">
                <i class="fa fa-map-marker"></i>
            </div>
            <div class="middle-search-result">
                <h4>{{res.display_name}}</h4>
            </div>

            <div class="right-search-result">
                <div class="detail-button" title="{{'SHOW_ON_MAP' | translate}}"
                    (click)="showLocationResult($event, res)"><i class="fa fa-eye"></i></div>
            </div>
        </div>
    </div>
</div>