@import '../../../../../styles/variables.scss';

.search-container {
    position: relative;

    input {
        padding-right: 25px;
        width: 100%;
    }

    i {
        position: absolute;
        padding: 0 0.45em;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-left: 1px solid var(--text-color-primary);
    }
}

#autocomplete-results{
    position: absolute;
    background: var(--background-primary-full);
    z-index: 100;
    width: 100%;

    .autocomplete-list-item {

        border-bottom: 1px solid var(--shadow-color);

        &:hover {
            background: var(--color-primary-opacity-soft);
        }
        &.active {
            background: var(--color-primary-opacity);
        }

        .result-content {
            display: flex;
            justify-content: space-between;
            font-size: 0.8em;
            .active-circle {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                display: inline-block;
                &.boxactive {
                    background: green;
                }
                &.boxinactive {
                    background: red;
                }
            }
        }
    }

    .number-results {
        background:  var(--color-disabled);
    }
    
}