<div class="datepicker-container" [class.disabled]="dateRangeGlobal">
    <a class="osem-time-buttons" (click)="lastWeek()">{{'LAST_WEEK' | translate}}</a>
    <a class="osem-time-buttons" (click)="last24()">{{'LAST_24' | translate}}</a>
    <a class="osem-time-buttons" (click)="lastHour()">{{'LAST_HOUR' | translate}}</a>
    <div class="datepicker-inner" [class.disabled]="dateRangeGlobal" (click)="openModal()">

        <input class="osem-hidden"
            placeholder="From Date Time">
        
        <div class="osem-padding-small owl-date-time-trigger" title="{{('CHOOSE_DATERANGE' | translate)}}">
            <div class="osem-inline osem-border-radius-5 from-date">   
                {{'FROM' | translate}}:
                <input class="date-input" placeholder="{{now | date:'short':'':translateService.currentLang}}" [value]="(dateRange ? dateRange[0] : '') | date:'short':'':translateService.currentLang" disabled>
            </div>
            <div class="osem-inline osem-border-radius-5">
                {{'TO' | translate}}:
                <input class="date-input" placeholder="{{'LIVE' | translate}}" [value]="(dateRange ? dateRange[1] : '') | date:'short':'':translateService.currentLang" disabled>
            </div>
            <div class="osem-inline">
                <div class="osem-simple-button">
                    <i class="fa fa-calendar osem-center-horizontal"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" [class.is-active]="modalActive">
    <div class="modal-background"></div>
    <div class="modal-content">
        <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
        <div class="timerange osem-padding modal-content-inner">
            <p class="time-exp-text">
                {{'CHART_DATEPICKER_TEXT' | translate}}
            </p>
            <div class="calendar-timerange">
                <div class="calendar-container">
                    <input id="timerange" type="datetime" data-display-mode="inline" data-is-range="true" data-close-on-select="false">
                </div>
            </div>
            <div class="osem-button-container">
                <button [disabled]="!dateRangeStart || !dateRangeEnd" class="osem-button is-pulled-right" (click)="updateDateRange(dateRangeStart, dateRangeEnd)">{{'SHOW' | translate}}</button>
            </div>
        </div>
    </div>
</div>