<div id="timeslider-container" 
    class="osem-box-shadow-basic" 
    *ngIf="dateRange && selectedPheno" 
    [@slideInOutHorizontal]="dateRange"
    [@slideInOutHorizontalBoolean]="filterVisible"
>

    <div *ngIf="selectedDate; else noDate" class="date">
        {{selectedDate | date:'medium'}}
    </div>
    <ng-template #noDate>Loading...</ng-template>
    
    
    <input 
        type="range" 
        name="points" 
        id="points" 
        [step]="step" 
        [min]="dateRange[0].getTime()"
        [max]="dateRange[1].getTime()" 
        data-show-value="true" 
        data-popup-enabled="true" 
        (input)="changed($event)" 
        (change)="changed($event)"
        [(ngModel)]="selectedDate" />
</div>