<div id="timeslider-container" 
    class="osem-box-shadow-basic" 
    *ngIf="(dateRange || dateStamp) && selectedPheno && activeTimeMode != 'live'" 
    [hidden]="!filterVisible && activeTimeMode === 'timestamp'"
    [@slideInOutHorizontal]="dateRange"
    [@slideInOutHorizontalBoolean]="filterVisible"
>   
    <div class="is-pulled-right px-1">
        <div class="osem-close-text-no-pos" (click)="removeDateRange()"  title="{{'REMOVE_DATERANGE' | translate}}">
            <button class="delete is-small"></button>
        </div>
    </div>

    <div *ngIf="!dataFetched">
        <p class="py-2">
            {{'CHOOSE_TIMERANGE_PHENO_BOUNDINGBOX' | translate}}
        </p>
        <ul>
            <li class="flex-li">
                <ng-container *ngIf="activeTimeMode === 'timerange'">
                    <div>
                        {{'FROM_TO' | translate}}:
                    </div>
                    <div>
                        {{dateRange[0] | date:'short': '':translateService.currentLang}} - 
                        {{dateRange[1] | date:'short': '':translateService.currentLang}}
                    </div>
                </ng-container>
                <ng-container *ngIf="activeTimeMode === 'timestamp'">
                    <div>
                        {{'DATE' | translate}}:
                    </div>
                    <div>
                        {{dateStamp | date:'short': '':translateService.currentLang}}
                    </div>
                </ng-container>
            </li>
            <li class="flex-li">
                <div>
                    {{'PHENOMENON' | translate}}:
                </div>
                <div>
                    {{selectedPheno.title}}
                </div>
            </li>
            <li class="flex-li">
                <div>
                    {{'BOXES_IN_SELECTION' | translate}}:
                </div>
                <div>
                    xx
                </div>
            </li>
        </ul>
        <div class="osem-overflow-auto">
            <i *ngIf="loadingBoxes" class="fa fa-1x fa-spinner fa-spin"></i> 
            <button [disabled]="loadingBoxes" class="osem-button is-pulled-right" (click)="loadData()">{{'LOAD_DATA' | translate}}</button>
        </div>

    </div>
    <div *ngIf="dataFetched" class="date-container">
        <div *ngIf="selectedDate; else noDate" class="date">
            <span *ngIf="filterVisible">{{selectedDate | date:'medium' : '' : translateService.currentLang}}</span>
            <!-- <div class="osem-close-button" (click)="removeDateRange()"x</div> -->
        </div>
        <ng-template #noDate>Loading...</ng-template>
        <ng-container *ngIf="activeTimeMode === 'timerange'">
            <input 
                type="range" 
                name="points" 
                id="points" 
                [step]="step" 
                [min]="dateRange[0].getTime()"
                [max]="dateRange[1].getTime()" 
                data-show-value="true" 
                data-popup-enabled="true" 
                (input)="changed($event)" 
                (change)="changed($event)"
                [(ngModel)]="selectedDate" />
        
            <div id="controls">
                <div class="control-item" (click)="backward()"><i class="fa fa-backward"></i></div>
                <div *ngIf="!intervalPlaying" class="control-item" (click)="play()"><i class="fa fa-play"></i></div>
                <div *ngIf="intervalPlaying" class="control-item" (click)="pause()"><i class="fa fa-pause"></i></div>
                <div class="control-item" (click)="forward()"><i class="fa fa-forward"></i></div>
                |
                <div class="control-item" (click)="removeDateRange()" title="{{'BACK_TO_LIVE' | translate}}"><i class="fa fa-times"></i></div>
            </div>
        </ng-container> 
    </div>
</div>