<div id="timeslider-container" 
    class="osem-box-shadow-basic" 
    *ngIf="dateRange && selectedPheno" 
    [@slideInOutHorizontal]="dateRange"
    [@slideInOutHorizontalBoolean]="filterVisible"
>

    <div *ngIf="selectedDate; else noDate" class="date">
        {{selectedDate | date:'medium' : '' : translateService.currentLang}}
        <div class="osem-close-button" (click)="removeDateRange()" title="{{'REMOVE_DATERANGE' | translate}}">x</div>
    </div>
    <ng-template #noDate>Loading...</ng-template>
     
    <input 
        type="range" 
        name="points" 
        id="points" 
        [step]="step" 
        [min]="dateRange[0].getTime()"
        [max]="dateRange[1].getTime()" 
        data-show-value="true" 
        data-popup-enabled="true" 
        (input)="changed($event)" 
        (change)="changed($event)"
        [(ngModel)]="selectedDate" />

    <div id="controls">
        <div class="control-item" (click)="backward()"><i class="fa fa-backward"></i></div>
        <div *ngIf="!intervalPlaying" class="control-item" (click)="play()"><i class="fa fa-play"></i></div>
        <div *ngIf="intervalPlaying" class="control-item" (click)="pause()"><i class="fa fa-pause"></i></div>
        <div class="control-item" (click)="forward()"><i class="fa fa-forward"></i></div>
    </div>
</div>