<div *ngIf="activeBox">
<div class="card-header">
    <a class="card-footer-item"><h1 class="title is-3">{{ activeBox.name }}</h1></a>
</div>
<div class="osem-padding"> 
    <p class="title is-6">Be notified when a measured value transpasses a threshold.</p>
    <div>{{ notificationsService.messageToUser }}</div>
    <div>    
    <form id="follow-box-form">
        <div action="/action_page.php">
            <label><p>Sensor:</p></label>
            <select name="sensors" class="input is-small" id="form-sensors" (change)="selected()" required>
                <option value= "" disabled selected hidden>Sensor</option>
                <option *ngFor="let sensor of activeBox.sensors" [value]="sensor._id">{{ sensor.title }}</option>
            </select>
        </div>    

        <div action="/action_page.php">
            <label><p>Operator:</p></label>
            <select name="operator" class="input is-small" id="form-operators" required>
                <option value= "" disabled selected hidden>Operator</option>
                <option value="equal">equal</option>
                <option value="over">over</option>
                <option value="under">under</option>
            </select>
        </div>

        <div class="control">
            <label>Threshold:</label>
            <input class="input is-small" type="number" placeholder={{textForm}} id="form-thresholds">
        </div>

        <div class="control">
            <input type="checkbox" name="checkEmail" id="form-email" />
            <label for="email">I want to receive notifications via email.</label>
            
        </div>
        <button class="osem-button" (click)="sendNotification()">Follow Sensor</button>
    </form>
    </div>

    <h3 class="title is-6">You are already following from {{activeBox.name}}:</h3>
    
    <div *ngIf="areNotificationsLoaded">
        <div *ngFor="let notificationRule of notificationRules">
            <div *ngIf="notificationRule.boxName==activeBox.name">
                <div *ngFor="let sensor of activeBox.sensors">
                    <div *ngIf="sensor.title==notificationRule.sensorName" class="notification">
                        <!-- <div class="osem-icon-container" title="Temperatur"></div> -->
                        <div>{{ notificationRule.sensorName }} {{ notificationRule.activationOperator }} {{ notificationRule.activationThreshold }}{{ sensor.unit }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-footer">
    <a class="card-footer-item" (click)="configCenter()">Configuration Center</a>

</div>

