.osem-button {
  border-radius: 3px;
  background: var(--color-primary);
  border: none;
  box-shadow: none;
  padding: 0.4em 0.7em;
  color: var(--text-color-primary);
  cursor: pointer;
  outline: none;
  display: block;
  width: 100%;
  margin: 20px 0px;
}

::placeholder {
  color: gray;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}