<div class="card-header">
    <a class="card-footer-item"><h1 class="title is-3">{{title}}</h1></a>
</div>
<div class="osem-padding"> 
    <h3 class="title is-6">When following a sensor, you will be notified when a measured value transpasses a threshold.</h3>
    <div>    
    <form>
        <div action="/action_page.php">
            <label><p>{{'FOLLOW_BOX' | translate}}</p></label>
            <select name="sensors" class="input is-small" id="sensors">
                <option></option>
                <option value="temperature">Temperature</option>
                <option value="rain">Rain</option>
                <option value="uv">UV</option>
                <option value="pm10">PM10</option>
            </select>
        </div>    

        <div action="/action_page.php">
            <label><p>Select</p></label>
            <select name="sensors" class="input is-small" id="sensors">
                <option></option>
                <option value="more than">more than</option>
                <option value="less than">less than</option>
            </select>
        </div>

        <div class="control">
            <label>Type a threshold value</label>
            <input class="input is-small" type="number" placeholder="Value">
        </div>

        <div class="control">
            <input type="checkbox" name="checkEmail" id="email" />
            <label for="email">I want to receive notifications on my email.</label>
            
        </div>
        <button class="osem-button" (click)="sendNotification()">Follow Sensor</button>
    </form>
    </div>
    

    <h3 class="title is-6">You are already following these sensors from {{title}}:</h3>  

</div>
<div class="card-footer">
    <a class="card-footer-item">Configuration Center</a>
</div>

