.datepicker-container {
    position: relative;
    background: var(--background-secondary-light);

    
    .owl-date-time-trigger {
        &:hover {
            background: var(--background-secondary);
        }
        .date-input {
            color: var(--background-primary-full);
            border-bottom: 2px solid var(--background-primary-full);
            
            &::placeholder {
                color: var(--background-primary-full);
            }
        }
        
    }
    .osem-simple-button {
        color: var(--background-primary-full);
    }
}