<div class="tabs is-fullwidth">
    <ul>
        <li [class.is-active]="activeTab === 'phenos'">
            <a (click)="changeActive('phenos')">
                <span class="icon is-small"><i class="fas fa-cloud-sun-rain" aria-hidden="true"></i></span>
                <span>{{'PHENOMENA' | translate}}</span>
            </a>
        </li>
        <li [class.is-active]="activeTab != 'phenos'">
            <a (click)="changeActive('filter')">
                <span class="icon is-small"><i class="fas fa-filter" aria-hidden="true"></i></span>
                <span>{{'FILTER' | translate}}</span>
            </a>
        </li>
    </ul>
    <!-- <div class="minimize"
        (click)="minimize()"
    ><i class="fa fa-chevron-up" *ngIf="!minimizedBoolean; else down"></i></div>
    <ng-template #down>
        <i class="fa fa-chevron-down"></i>
    </ng-template> -->
</div>
<div [@shrinkVertical]="!minimizedBoolean" class="osem-overflow-hidden">
    <osem-phenomenon *ngIf="activeTab === 'phenos'"
        [selectedPheno]="selectedPheno"
        [changeVariable]="change"
        [stats]="stats"
        (phenoSelected)="selectPheno($event)"
        (infoPhenoSelected)="selectInfoPheno($event)"
        (changeToggled)="toggleChange()"
        ></osem-phenomenon>
    
    <osem-filter *ngIf="activeTab === 'filter'"
        [filters]="filters"
        [user]="user"
        (filtersSet)="setFilters($event)"
    >
    </osem-filter>
</div>