<div>
    <h2 class="title">{{'REGISTER' | translate}}</h2>

    <p>
        {{'REGISTER YOUR NEW ACCOUNT HERE'}}
    </p>
    <form [formGroup]="registerForm" (ngSubmit)="register()">

        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input formControlName="name" class="input" type="text" placeholder="Username">
                <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input formControlName="email" class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left">
                <input formControlName="password" class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left">
                <input formControlName="confirmPassword" class="input" type="password" placeholder="Confirm Password">
                <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control">
                <button 
                    [disabled]="!registerForm.valid"
                    class="button is-success">
                    {{'REGISTER' | translate}}
                </button>
            </p>
        </div>
    </form>
    
</div>