<div id="vis-container">
    <div id="phenos">
        <div class="pheno"
            (click)="selectPheno('all')" 
            [class.active]="selectedPheno === ''">
            
            <div class="osem-icon-container" [title]="'ALL' | translate">
                {{'ALL' | translate}}
            </div>
        </div>
        <div 
        *ngFor="let pheno of phenos" 
        (click)="selectPheno(pheno.title)" 
        [class.active]="pheno?.title === selectedPheno"
        class="pheno">
        
            <div class="osem-icon-container" [title]="pheno.title">
                <i class="osem-icon {{pheno.icon}}"></i>
            </div>
        </div>
    </div>

    <div class="vis-items-container osem-padding-small">
            
        <h2 *ngIf="selectedPheno">{{selectedPheno}}</h2>
        <div class="vis-items">
            
            <ng-container *ngFor="let visItem of vis">
                <div *ngIf="selectedPheno === 'all' || visItem.pheno === selectedPheno" class="vis-item osem-padding-small" (click)="openVisItem(visItem)">
                    <div class="image">
                        <img src="/assets/img/userimg/vis/{{visItem._id}}.png">
                    </div>
                    <div class="vis-content">
                        <h3>{{visItem.name}}</h3>
                        <p class="date">{{visItem.dateRange[0] | date:'short':'':translateService.currentLang }} - {{visItem.dateRange[1] | date:'short':'':translateService.currentLang }}</p>
                        <p>{{visItem.description}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>